@import './utils/variables';
@import './utils/hidden';
@import './utils/mixins';

@import './base/common';

@import './components/logo';
@import './components/navigation';
@import './components/contacts';
@import './components/button';
@import './components/socials';
@import './components/backdrop';
@import './components/modal';
@import './components/form-order';
@import './components/form-subscribe';
@import './components/filter';
@import './components/gallery';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/features';
@import './layouts/work';
@import './layouts/team';
@import './layouts/clients';
@import './layouts/footer';
@import './layouts/portfolio';



.features,
.clients {
  padding: 94px 0;
}


.clients-title {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: $title-text-color;
}

