.contacts {
    margin-left: auto;
    align-items: center;
  }
  
  .contacts .link {
    color: $text-color;
    align-items: center;
    transition: color $transition-duration $transition-timing-function;
  }
  .post-icon,
  .tel-icon {
    fill: $text-color;
  
    display: inline-block;
    margin-right: 10px;
    transition: fill $transition-duration $transition-timing-function;
  }

  .post {
    display: inline-block;
    margin-bottom: 9px;
  
    font-style: normal;
    line-height: 1.71;
  
    color: $contrast-white-color;
  }

  .link.mail {
    display: inline-block;
    margin-bottom: 9px;
  }
  
  .footer .link {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
  
    color: $contrast-text-color;
  
    transition: color $transition-duration $transition-timing-function;
  }
  
  .footer .link:not(:last-child) {
    margin-bottom: 9px;
  }