.team .socials-list {
    justify-content: center;
  }
  
  .socials-item:not(:last-child) {
    margin-right: 10px;
  }
  .socials-item .link {
    justify-content: center;
    align-items: center;
  
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color $tdur $ttf;
  }
  .socials-icon-team {
    fill: $border-clients;
    transition: fill $tdur $ttf;
  }
  .socials-icon-company {
    fill: $contrast-white-color;
  }
  .socials-item .link:hover,
  .socials-item .link:focus,
  .footer .socials-item .link:hover,
  .footer .socials-item .link:focus {
    background-color: $accent-color;
  }
  
  .socials-item .link:hover .socials-icon-team,
  .socials-item .link:focus .socials-icon-team {
    fill: $contrast-white-color;
  }
  
  .footer .socials-item .link {
    background-color: $bg-color-icon;
    transition: background-color $tdur $ttf;
  }
  .footer-social {
    flex-direction: column;
  
    margin: 12px 93px 0 0;
  }