body {
  font-family: Roboto, sans-serif;
@include font();

}
a {
  text-decoration: none;
}
img {
  display: block;
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.flexbox {
  display: flex;
}
.list {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}
.link {
@include font(500, 14px, 0.02em, 1.14)
}
