.clients .list {
    flex-wrap: wrap;
  }
  .clients-item {
    width: 170px;
    height: 90px;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  
  .clients-item:nth-child(6n) {
    margin-right: 0;
  }
  .clients-item:nth-last-child(-n + 6) {
    margin-bottom: 0;
  }
  .clients-link {
    justify-content: center;
    align-items: center;
  
    border: 1px solid $border-clients;
    border-radius: 4px;
  
    width: 170px;
    height: 90px;
    transition: border $tdur $ttf;
  }
  
  .clients-icon {
    fill: $border-clients;
    transition: fill $tdur $ttf;
  }
  .clients-link:hover,
  .clients-link:focus {
    border: 1px solid $accent-color;
  }
  .clients-link:hover .clients-icon,
  .clients-link:focus .clients-icon {
    fill: $accent-color;
  }